---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% comment %}{% include index/description.html %}{% endcomment %}
    {% include index/carousel.html title="Explore" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
    
    {% comment %}{% include index/content.html %}{% endcomment %}

  </div>
  <div class="col-md-12">

    {% comment %}{% include index/data-download.html %}{% endcomment %}

  </div>

</div>